In [1]:
# Ddd dependencies
import pandas as pd
import numpy as np

# Clean, Pivot and Merge Data for East Central Division 2013 - 2017

In [2]:
# create clean data frame
clean_data_ec = pd.DataFrame(columns=['category','gender','age','year','division','population'])
clean_data_ec

Empty DataFrame
Columns: [category, gender, age, year, division, population]
Index: []

In [3]:
# Loop thru 2013 - 2017 data and create combined data frame
for year in [2013, 2014, 2015, 2016, 2017]:
    #print(year) 
    
    raw_data_ec = pd.read_csv("../raw_data/east_central_data/Movie Purchaser Behavior EC {}.csv".format(year),skiprows=1)
#raw_data_ec

    # Drop na and first 3 columns
    raw_data_ec = raw_data_ec.dropna().drop(raw_data_ec.columns[[1, 2, 3]], axis=1)
#raw_data_ec

    # Strip first column
    raw_data_ec.iloc[:,0] = raw_data_ec.iloc[:,0].str.strip()
#raw_data_ec

    # Replace whitespace with "_" in category column 
    raw_data_ec.iloc[:,0] = raw_data_ec.iloc[:,0].str.replace(' ', '_')
#raw_data_ec

    # Lowercase string in first column 
    raw_data_ec.iloc[:,0] = raw_data_ec.iloc[:,0].str.lower()
#raw_data_ec

    # Create a list for category name
    cat_list = list(raw_data_ec.iloc[:,0])    
    cat_list_final = []    
    for i in cat_list:
        cat_list_final += [i]*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
#print(cat_list_final)

    # Create a list for population in each category
    pop_list = []
    for index, row in raw_data_ec.iterrows():
        pop_list += [int(row[5])] +  [int(row[8])]\
                    + [int(row[11])] + [int(row[14])]\
                    + [int(row[17])]+ [int(row[6])]\
                    + [int(row[9])] + [int(row[12])]\
                    + [int(row[15])]+ [int(row[18])]
    #print(pop_list)

    # create yearly data frame
    yearly_data_ec = pd.DataFrame(columns=['category','gender','age','year','division','population'])

    # Move values into clean_ec_data data frame
    yearly_data_ec["category"] = cat_list_final
    yearly_data_ec['gender'] = (['Male']*len(['18-24', '25-34', '35-44', '45-54', '55+'])+['Female']*len(['18-24', '25-34', '35-44', '45-54', '55+']))*len(cat_list)
    yearly_data_ec['age'] = ['18-24', '25-34', '35-44', '45-54', '55+']*len(['Male', 'Female'])*len(cat_list)
    yearly_data_ec['year'] = [year]*len(cat_list)*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_ec['division'] = ['east_central']*len(cat_list)*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_ec['population'] = pop_list
    
    # Append yearly datafram generated from loop into clean data frame 
    clean_data_ec = pd.concat([clean_data_ec,yearly_data_ec], ignore_index=True)

    print ("{} data finished".format(year))
    
clean_data_ec.tail(10)

2013 data finished
2014 data finished
2015 data finished
2016 data finished
2017 data finished

,category,gender,age,year,division,population
560,social_media_[social_media_user],Male,18-24,2017,east_central,15
561,social_media_[social_media_user],Male,25-34,2017,east_central,22
562,social_media_[social_media_user],Male,35-44,2017,east_central,27
563,social_media_[social_media_user],Male,45-54,2017,east_central,14
564,social_media_[social_media_user],Male,55+,2017,east_central,16
565,social_media_[social_media_user],Female,18-24,2017,east_central,7
566,social_media_[social_media_user],Female,25-34,2017,east_central,29
567,social_media_[social_media_user],Female,35-44,2017,east_central,25
568,social_media_[social_media_user],Female,45-54,2017,east_central,17
569,social_media_[social_media_user],Female,55+,2017,east_central,14

# Clean, Pivot and Merge Data for Northeast Division 2013 - 2017

In [4]:
# create clean data frame
clean_data_ne = pd.DataFrame(columns=['category','gender','age','year','division','population'])
clean_data_ne

Empty DataFrame
Columns: [category, gender, age, year, division, population]
Index: []

In [5]:
# Loop thru 2013 - 2017 data and create combined data frame
for year in [2013, 2014, 2015, 2016, 2017]:
    #print(year) 
    
    raw_data_ne = pd.read_csv("../raw_data/north_east_data/Movie Purchaser Behavior NE {}.csv".format(year),skiprows=1)
#raw_data_ne

    # Drop na and first 3 columns
    raw_data_ne = raw_data_ne.dropna().drop(raw_data_ne.columns[[1, 2, 3]], axis=1)
#raw_data_ec

    # Strip first column
    raw_data_ne.iloc[:,0] = raw_data_ne.iloc[:,0].str.strip()
#raw_data_ec

    # Replace whitespace with "_" in category column 
    raw_data_ne.iloc[:,0] = raw_data_ne.iloc[:,0].str.replace(' ', '_')
#raw_data_ec

    # Lowercase string in first column 
    raw_data_ne.iloc[:,0] = raw_data_ne.iloc[:,0].str.lower()
#raw_data_ec

    # Create a list for category name
    cat_list = list(raw_data_ne.iloc[:,0])    
    cat_list_final = []    
    for i in cat_list:
        cat_list_final += [i]*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
#print(cat_list_final)

    # Create a list for population in each category
    pop_list = []
    for index, row in raw_data_ne.iterrows():
        pop_list += [int(row[5])] +  [int(row[8])]\
                    + [int(row[11])] + [int(row[14])]\
                    + [int(row[17])]+ [int(row[6])]\
                    + [int(row[9])] + [int(row[12])]\
                    + [int(row[15])]+ [int(row[18])]
    #print(pop_list)

    # create yearly data frame
    yearly_data_ne = pd.DataFrame(columns=['category','gender','age','year','division','population'])

    # Move values into clean_ec_data data frame
    yearly_data_ne["category"] = cat_list_final
    yearly_data_ne['gender'] = (['Male']*len(['18-24', '25-34', '35-44', '45-54', '55+'])+['Female']*len(['18-24', '25-34', '35-44', '45-54', '55+']))*len(cat_list)
    yearly_data_ne['age'] = ['18-24', '25-34', '35-44', '45-54', '55+']*len(['Male', 'Female'])*len(cat_list)
    yearly_data_ne['year'] = [year]*len(cat_list)*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_ne['division'] = ['north_east']*len(cat_list)*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_ne['population'] = pop_list

    #print(yearly_data_ne)

    # Append yearly datafram generated from loop into clean data frame 
    clean_data_ne = pd.concat([clean_data_ne,yearly_data_ne], ignore_index=True)

    print ("{} data finished".format(year))
    
clean_data_ne.head()

2013 data finished
2014 data finished
2015 data finished
2016 data finished
2017 data finished

  category gender    age  year    division population
0   totals   Male  18-24  2013  north_east         53
1   totals   Male  25-34  2013  north_east         63
2   totals   Male  35-44  2013  north_east         93
3   totals   Male  45-54  2013  north_east        131
4   totals   Male    55+  2013  north_east        176

# Clean, Pivot and Merge Data for South Division 2013 - 2017

In [6]:
# create clean data frame
clean_data_s = pd.DataFrame(columns=['category','gender','age','year','division','population'])
clean_data_s

Empty DataFrame
Columns: [category, gender, age, year, division, population]
Index: []

In [7]:
# Loop thru 2013 - 2017 data and create combined data frame
for year in [2013, 2014, 2015, 2016, 2017]:
    #print(year) 
    
    raw_data_s = pd.read_csv("../raw_data/south_data/Movie Purchaser Behavior S {}.csv".format(year),skiprows=1)
#raw_data_ec

    # Drop na and first 3 columns
    raw_data_s = raw_data_s.dropna().drop(raw_data_s.columns[[1, 2, 3]], axis=1)
#raw_data_ec

    # Strip first column
    raw_data_s.iloc[:,0] = raw_data_s.iloc[:,0].str.strip()
#raw_data_ec

    # Replace whitespace with "_" in category column 
    raw_data_s.iloc[:,0] = raw_data_s.iloc[:,0].str.replace(' ', '_')
#raw_data_ec

    # Lowercase string in first column 
    raw_data_s.iloc[:,0] = raw_data_s.iloc[:,0].str.lower()
#raw_data_ec

    # Create a list for category name
    cat_list = list(raw_data_s.iloc[:,0])    
    cat_list_final = []    
    for i in cat_list:
        cat_list_final += [i]*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
#print(cat_list_final)

    # Create a list for population in each category
    pop_list = []
    for index, row in raw_data_s.iterrows():
        pop_list += [int(row[5])] +  [int(row[8])]\
                    + [int(row[11])] + [int(row[14])]\
                    + [int(row[17])]+ [int(row[6])]\
                    + [int(row[9])] + [int(row[12])]\
                    + [int(row[15])]+ [int(row[18])]
    #print(pop_list)

    # create yearly data frame
    yearly_data_s = pd.DataFrame(columns=['category','gender','age','year','division','population'])

    # Move values into clean_ec_data data frame
    yearly_data_s["category"] = cat_list_final
    yearly_data_s['gender'] = (['Male']*len(['18-24', '25-34', '35-44', '45-54', '55+'])+['Female']*len(['18-24', '25-34', '35-44', '45-54', '55+']))*len(cat_list)
    yearly_data_s['age'] = ['18-24', '25-34', '35-44', '45-54', '55+']*len(['Male', 'Female'])*len(cat_list)
    yearly_data_s['year'] = [year]*len(cat_list)*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_s['division'] = ['south']*len(cat_list)*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_s['population'] = pop_list
    
    # Append yearly datafram generated from loop into clean data frame 
    clean_data_s = pd.concat([clean_data_s,yearly_data_s], ignore_index=True)

    print ("{} data finished".format(year))
    
clean_data_s.head()

2013 data finished
2014 data finished
2015 data finished
2016 data finished
2017 data finished

  category gender    age  year division population
0   totals   Male  18-24  2013    south         78
1   totals   Male  25-34  2013    south        160
2   totals   Male  35-44  2013    south        198
3   totals   Male  45-54  2013    south        170
4   totals   Male    55+  2013    south        247

# Clean, Pivot and Merge Data for South East Division 2013 - 2017

In [8]:
# create clean data frame
clean_data_se = pd.DataFrame(columns=['category','gender','age','year','division','population'])
clean_data_se

Empty DataFrame
Columns: [category, gender, age, year, division, population]
Index: []

In [9]:
# Loop thru 2013 - 2017 data and create combined data frame
for year in [2013, 2014, 2015, 2016, 2017]:
    #print(year) 
    
    raw_data_se = pd.read_csv("../raw_data/south_east_data/Movie Purchaser Behavior SE {}.csv".format(year),skiprows=1)
#raw_data_ec

    # Drop na and first 3 columns
    raw_data_se = raw_data_se.dropna().drop(raw_data_se.columns[[1, 2, 3]], axis=1)
#raw_data_ec

    # Strip first column
    raw_data_se.iloc[:,0] = raw_data_se.iloc[:,0].str.strip()
#raw_data_ec

    # Replace whitespace with "_" in category column 
    raw_data_se.iloc[:,0] = raw_data_se.iloc[:,0].str.replace(' ', '_')
#raw_data_ec

    # Lowercase string in first column 
    raw_data_se.iloc[:,0] = raw_data_se.iloc[:,0].str.lower()
#raw_data_ec

    # Create a list for category name
    cat_list = list(raw_data_se.iloc[:,0])    
    cat_list_final = []    
    for i in cat_list:
        cat_list_final += [i]*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
#print(cat_list_final)

    # Create a list for population in each category
    pop_list = []
    for index, row in raw_data_se.iterrows():
        pop_list += [int(row[5])] +  [int(row[8])]\
                    + [int(row[11])] + [int(row[14])]\
                    + [int(row[17])]+ [int(row[6])]\
                    + [int(row[9])] + [int(row[12])]\
                    + [int(row[15])]+ [int(row[18])]
    #print(pop_list)

    # create yearly data frame
    yearly_data_se = pd.DataFrame(columns=['category','gender','age','year','division','population'])

    # Move values into clean_ec_data data frame
    yearly_data_se["category"] = cat_list_final
    yearly_data_se['gender'] = (['Male']*len(['18-24', '25-34', '35-44', '45-54', '55+'])+['Female']*len(['18-24', '25-34', '35-44', '45-54', '55+']))*len(cat_list)
    yearly_data_se['age'] = ['18-24', '25-34', '35-44', '45-54', '55+']*len(['Male', 'Female'])*len(cat_list)
    yearly_data_se['year'] = [year]*len(cat_list)*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_se['division'] = ['south_east']*len(cat_list)*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_se['population'] = pop_list
    
    # Append yearly datafram generated from loop into clean data frame 
    clean_data_se = pd.concat([clean_data_se,yearly_data_se], ignore_index=True)

    print ("{} data finished".format(year))
    
clean_data_se.head()

2013 data finished
2014 data finished
2015 data finished
2016 data finished
2017 data finished

  category gender    age  year    division population
0   totals   Male  18-24  2013  south_east         27
1   totals   Male  25-34  2013  south_east         72
2   totals   Male  35-44  2013  south_east         76
3   totals   Male  45-54  2013  south_east         74
4   totals   Male    55+  2013  south_east        145

# Clean, Pivot and Merge Data for West Central Division 2013 - 2017

In [10]:
# create clean data frame
clean_data_wc = pd.DataFrame(columns=['category','gender','age','year','division','population'])
clean_data_wc

Empty DataFrame
Columns: [category, gender, age, year, division, population]
Index: []

In [12]:
# Loop thru 2013 - 2017 data and create combined data frame
for year in [2013, 2014, 2015, 2016, 2017]:
    #print(year) 
    
    raw_data_wc = pd.read_csv("../raw_data/west_central_data/Movie Purchaser Behavior WC {}.csv".format(year),skiprows=1)
#raw_data_ec

    # Drop na and first 3 columns
    raw_data_wc = raw_data_wc.dropna().drop(raw_data_wc.columns[[1, 2, 3]], axis=1)
#raw_data_ec

    # Strip first column
    raw_data_wc.iloc[:,0] = raw_data_wc.iloc[:,0].str.strip()
#raw_data_ec

    # Replace whitespace with "_" in category column 
    raw_data_wc.iloc[:,0] = raw_data_wc.iloc[:,0].str.replace(' ', '_')
#raw_data_ec

    # Lowercase string in first column 
    raw_data_wc.iloc[:,0] = raw_data_wc.iloc[:,0].str.lower()
#raw_data_ec

    # Create a list for category name
    cat_list = list(raw_data_wc.iloc[:,0])    
    cat_list_final = []    
    for i in cat_list:
        cat_list_final += [i]*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
#print(cat_list_final)

    # Create a list for population in each category
    pop_list = []
    for index, row in raw_data_wc.iterrows():
        pop_list += [int(row[5])] +  [int(row[8])]\
                    + [int(row[11])] + [int(row[14])]\
                    + [int(row[17])]+ [int(row[6])]\
                    + [int(row[9])] + [int(row[12])]\
                    + [int(row[15])]+ [int(row[18])]
    #print(pop_list)

    # create yearly data frame
    yearly_data_wc = pd.DataFrame(columns=['category','gender','age','year','division','population'])

    # Move values into clean_ec_data data frame
    yearly_data_wc["category"] = cat_list_final
    yearly_data_wc['gender'] = (['Male']*len(['18-24', '25-34', '35-44', '45-54', '55+'])+['Female']*len(['18-24', '25-34', '35-44', '45-54', '55+']))*len(cat_list)
    yearly_data_wc['age'] = ['18-24', '25-34', '35-44', '45-54', '55+']*len(['Male', 'Female'])*len(cat_list)
    yearly_data_wc['year'] = [year]*len(cat_list)*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_wc['division'] = ['west_central']*len(cat_list)*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_wc['population'] = pop_list
    
    # Append yearly datafram generated from loop into clean data frame 
    clean_data_wc = pd.concat([clean_data_wc,yearly_data_wc], ignore_index=True)

    print ("{} data finished".format(year))
    
clean_data_wc.head()

2013 data finished
2014 data finished
2015 data finished
2016 data finished
2017 data finished

  category gender    age  year      division population
0   totals   Male  18-24  2013  west_central         55
1   totals   Male  25-34  2013  west_central         78
2   totals   Male  35-44  2013  west_central         85
3   totals   Male  45-54  2013  west_central         87
4   totals   Male    55+  2013  west_central        109

# Clean, Pivot and Merge Data for Pacific Division 2013 - 2017

In [13]:
# create clean data frame
clean_data_p = pd.DataFrame(columns=['category','gender','age','year','division','population'])
clean_data_p

Empty DataFrame
Columns: [category, gender, age, year, division, population]
Index: []

In [14]:
# Loop thru 2013 - 2017 data and create combined data frame
for year in [2013, 2014, 2015, 2016, 2017]:
    #print(year) 
    
    raw_data_p = pd.read_csv("../raw_data/pacific_data/Movie Purchaser Behavior P {}.csv".format(year),skiprows=1)
#raw_data_ec

    # Drop na and first 3 columns
    raw_data_p = raw_data_p.dropna().drop(raw_data_p.columns[[1, 2, 3]], axis=1)
#raw_data_ec

    # Strip first column
    raw_data_p.iloc[:,0] = raw_data_p.iloc[:,0].str.strip()
#raw_data_ec

    # Replace whitespace with "_" in category column 
    raw_data_p.iloc[:,0] = raw_data_p.iloc[:,0].str.replace(' ', '_')
#raw_data_ec

    # Lowercase string in first column 
    raw_data_p.iloc[:,0] = raw_data_p.iloc[:,0].str.lower()
#raw_data_ec

    # Create a list for category name
    cat_list = list(raw_data_p.iloc[:,0])    
    cat_list_final = []    
    for i in cat_list:
        cat_list_final += [i]*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
#print(cat_list_final)

    # Create a list for population in each category
    pop_list = []
    for index, row in raw_data_p.iterrows():
        pop_list += [int(row[5])] +  [int(row[8])]\
                    + [int(row[11])] + [int(row[14])]\
                    + [int(row[17])]+ [int(row[6])]\
                    + [int(row[9])] + [int(row[12])]\
                    + [int(row[15])]+ [int(row[18])]
    #print(pop_list)

    # create yearly data frame
    yearly_data_p = pd.DataFrame(columns=['category','gender','age','year','division','population'])

    # Move values into clean_ec_data data frame
    yearly_data_p["category"] = cat_list_final
    yearly_data_p['gender'] = (['Male']*len(['18-24', '25-34', '35-44', '45-54', '55+'])+['Female']*len(['18-24', '25-34', '35-44', '45-54', '55+']))*len(cat_list)
    yearly_data_p['age'] = ['18-24', '25-34', '35-44', '45-54', '55+']*len(['Male', 'Female'])*len(cat_list)
    yearly_data_p['year'] = [year]*len(cat_list)*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_p['division'] = ['pacific']*len(cat_list)*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_p['population'] = pop_list
    
    # Append yearly datafram generated from loop into clean data frame 
    clean_data_p = pd.concat([clean_data_p,yearly_data_p], ignore_index=True)

    print ("{} data finished".format(year))
    
clean_data_p.head()

2013 data finished
2014 data finished
2015 data finished
2016 data finished
2017 data finished

  category gender    age  year division population
0   totals   Male  18-24  2013  pacific         78
1   totals   Male  25-34  2013  pacific         89
2   totals   Male  35-44  2013  pacific        111
3   totals   Male  45-54  2013  pacific        112
4   totals   Male    55+  2013  pacific        141

# Clean, Pivot and Merge Data for South West Division 2013 - 2017

In [15]:
# create clean data frame
clean_data_sw = pd.DataFrame(columns=['category','gender','age','year','division','population'])
clean_data_sw

Empty DataFrame
Columns: [category, gender, age, year, division, population]
Index: []

In [16]:
# Loop thru 2013 - 2017 data and create combined data frame
for year in [2013, 2014, 2015, 2016, 2017]:
    #print(year) 
    
    raw_data_sw = pd.read_csv("../raw_data/south_west_data/Movie Purchaser Behavior SW {}.csv".format(year),skiprows=1)
#raw_data_ec

    # Drop na and first 3 columns
    raw_data_sw = raw_data_sw.dropna().drop(raw_data_sw.columns[[1, 2, 3]], axis=1)
#raw_data_ec

    # Strip first column
    raw_data_sw.iloc[:,0] = raw_data_sw.iloc[:,0].str.strip()
#raw_data_ec

    # Replace whitespace with "_" in category column 
    raw_data_sw.iloc[:,0] = raw_data_sw.iloc[:,0].str.replace(' ', '_')
#raw_data_ec

    # Lowercase string in first column 
    raw_data_sw.iloc[:,0] = raw_data_sw.iloc[:,0].str.lower()
#raw_data_ec

    # Create a list for category name
    cat_list = list(raw_data_sw.iloc[:,0])    
    cat_list_final = []    
    for i in cat_list:
        cat_list_final += [i]*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
#print(cat_list_final)

    # Create a list for population in each category
    pop_list = []
    for index, row in raw_data_sw.iterrows():
        pop_list += [int(row[5])] +  [int(row[8])]\
                    + [int(row[11])] + [int(row[14])]\
                    + [int(row[17])]+ [int(row[6])]\
                    + [int(row[9])] + [int(row[12])]\
                    + [int(row[15])]+ [int(row[18])]
    #print(pop_list)

    # create yearly data frame
    yearly_data_sw = pd.DataFrame(columns=['category','gender','age','year','division','population'])

    # Move values into clean_ec_data data frame
    yearly_data_sw["category"] = cat_list_final
    yearly_data_sw['gender'] = (['Male']*len(['18-24', '25-34', '35-44', '45-54', '55+'])+['Female']*len(['18-24', '25-34', '35-44', '45-54', '55+']))*len(cat_list)
    yearly_data_sw['age'] = ['18-24', '25-34', '35-44', '45-54', '55+']*len(['Male', 'Female'])*len(cat_list)
    yearly_data_sw['year'] = [year]*len(cat_list)*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_sw['division'] = ['south_west']*len(cat_list)*len(['Male', 'Female'])*len(['18-24', '25-34', '35-44', '45-54', '55+'])
    yearly_data_sw['population'] = pop_list
    
    # Append yearly datafram generated from loop into clean data frame 
    clean_data_sw = pd.concat([clean_data_sw,yearly_data_sw], ignore_index=True)

    print ("{} data finished".format(year))
    
clean_data_sw.head()

2013 data finished
2014 data finished
2015 data finished
2016 data finished
2017 data finished

  category gender    age  year    division population
0   totals   Male  18-24  2013  south_west         51
1   totals   Male  25-34  2013  south_west         88
2   totals   Male  35-44  2013  south_west        122
3   totals   Male  45-54  2013  south_west         96
4   totals   Male    55+  2013  south_west        102

In [17]:
# Save clean data to csv
clean_data_ec.to_csv('..\clean_data\clean_data_ec_2013_to_2017.csv', index = False)
clean_data_ne.to_csv('..\clean_data\clean_data_ne_2013_to_2017.csv', index = False)
clean_data_s.to_csv('..\clean_data\clean_data_s_2013_to_2017.csv', index = False)
clean_data_se.to_csv('..\clean_data\clean_data_se_2013_to_2017.csv', index = False)
clean_data_wc.to_csv('..\clean_data\clean_data_wc_2013_to_2017.csv', index = False)
clean_data_p.to_csv('..\clean_data\clean_data_p_2013_to_2017.csv', index = False)
clean_data_sw.to_csv('..\clean_data\clean_data_sw_2013_to_2017.csv', index = False)

In [18]:
# count all unique category in the dataframe
cat_len = len(clean_data_ec.category.unique())
cat_len

12

In [19]:
prob_df_ec = pd.DataFrame(columns=['category','gender','age','year','division','population',"share"])
prob_df_ec

Empty DataFrame
Columns: [category, gender, age, year, division, population, share]
Index: []

In [20]:
list(clean_data_ec.loc[clean_data_ec['year']==2013,:].population)[0:10]

[31, 51, 71, 64, 78, 40, 73, 66, 101, 127]

In [21]:
for i in range(2013, 2018):
    chosen_year_df = clean_data_ec.loc[clean_data_ec['year']==i,:]
    cat_len = len(chosen_year_df.category.unique())
    #print('cat_len',cat_len)
    chosen_year_totals_list = list(chosen_year_df.population)[0:10]*cat_len
    #print('chosen_year_totals_list:',chosen_year_totals_list)
    chosen_year_df["share"] = [j/k for j,k in zip(list(chosen_year_df.population),chosen_year_totals_list)]
    prob_df_ec = pd.concat([prob_df_ec,chosen_year_df], ignore_index=True)
    #print(chosen_year_df)

C:\Users\rithz\Anaconda\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [22]:
#prob_df_ec

In [23]:
# prob_df_ec.to_csv('clean_data\ec_prob_2013_2017.csv', index = False)

In [24]:
# Create a new df that will contain all region all year share (pop of category / total pop)
prob_df_all = pd.DataFrame(columns=['category','gender','age','year','division','population',"share"])

In [25]:
# loop through each region df and concate all result table to 'prob_df_all'
for df in [clean_data_ec,clean_data_ne,clean_data_s,clean_data_se,clean_data_wc,clean_data_p,clean_data_sw]:
    prob_df_region = pd.DataFrame(columns=['category','gender','age','year','division','population',"share"])
    for i in range(2013, 2018):
        chosen_year_df = df.loc[clean_data_ec['year']==i,:]
        cat_len = len(chosen_year_df.category.unique())
        #print('cat_len',cat_len)
        chosen_year_totals_list = list(chosen_year_df.population)[0:10]*cat_len
        #print('chosen_year_totals_list:',chosen_year_totals_list)
        chosen_year_df["share"] = [j/k for j,k in zip(list(chosen_year_df.population),chosen_year_totals_list)]
        prob_df_region = pd.concat([prob_df_region,chosen_year_df], ignore_index=True)
        #print(chosen_year_df)
    prob_df_all = pd.concat([prob_df_all,prob_df_region], ignore_index=True)
prob_df_all

C:\Users\rithz\Anaconda\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

,category,gender,age,year,division,population,share
0,totals,Male,18-24,2013,east_central,31,1.000000
1,totals,Male,25-34,2013,east_central,51,1.000000
2,totals,Male,35-44,2013,east_central,71,1.000000
3,totals,Male,45-54,2013,east_central,64,1.000000
4,totals,Male,55+,2013,east_central,78,1.000000
5,totals,Female,18-24,2013,east_central,40,1.000000
6,totals,Female,25-34,2013,east_central,73,1.000000
7,totals,Female,35-44,2013,east_central,66,1.000000
8,totals,Female,45-54,2013,east_central,101,1.000000
9,totals,Female,55+,2013,east_central,127,1.000000
10,video_game,Male,18-24,2013,east_central,26,0.838710
11,video_game,Male,25-34,2013,east_central,37,0.725490
12,video_game,Male,35-44,2013,east_central,49,0.690141
13,video_game,Male,45-54,2013,east_central,31,0.484375
14,video_game,Male,55+,2013,east_central,13,0.166667
15,video_game,Female,18-24,2013,east_central,24,0.600000
16,video_game,Female,25-34,2013,east_central,46,0.630137
17,video_game,Female,35-44,2013,east_central,35,0.530303
18,video_game,Female,45-54,2013,east_central,31,0.306931
19,video_game,Female,55+,2013,east_central,32,0.251969
20,tv,Male,18-24,2013,east_central,23,0.741935
21,tv,Male,25-34,2013,east_central,38,0.745098
22,tv,Male,35-44,2013,east_central,63,0.887324
23,tv,Male,45-54,2013,east_central,62,0.968750
24,tv,Male,55+,2013,east_central,72,0.923077
25,tv,Female,18-24,2013,east_central,30,0.750000
26,tv,Female,25-34,2013,east_central,65,0.890411
27,tv,Female,35-44,2013,east_central,62,0.939394
28,tv,Female,45-54,2013,east_central,96,0.950495
29,tv,Female,55+,2013,east_central,120,0.944882
...,...,...,...,...,...,...,...
3930,tablet_owner,Male,18-24,2017,south_west,8,0.222222
3931,tablet_owner,Male,25-34,2017,south_west,28,0.451613
3932,tablet_owner,Male,35-44,2017,south_west,30,0.588235
3933,tablet_owner,Male,45-54,2017,south_west,14,0.583333
3934,tablet_owner,Male,55+,2017,south_west,19,0.593750
3935,tablet_owner,Female,18-24,2017,south_west,13,0.565217
3936,tablet_owner,Female,25-34,2017,south_west,36,0.782609
3937,tablet_owner,Female,35-44,2017,south_west,25,0.781250
3938,tablet_owner,Female,45-54,2017,south_west,23,0.821429
3939,tablet_owner,Female,55+,2017,south_west,14,0.583333
3940,all_live_theater/concerts/dance-attended_last_...,Male,18-24,2017,south_west,18,0.500000
3941,all_live_theater/concerts/dance-attended_last_...,Male,25-34,2017,south_west,29,0.467742
3942,all_live_theater/concerts/dance-attended_last_...,Male,35-44,2017,south_west,29,0.568627
3943,all_live_theater/concerts/dance-attended_last_...,Male,45-54,2017,south_west,16,0.666667
3944,all_live_theater/concerts/dance-attended_last_...,Male,55+,2017,south_west,9,0.281250
3945,all_live_theater/concerts/dance-attended_last_...,Female,18-24,2017,south_west,13,0.565217
3946,all_live_theater/concerts/dance-attended_last_...,Female,25-34,2017,south_west,28,0.608696
3947,all_live_theater/concerts/dance-attended_last_...,Female,35-44,2017,south_west,19,0.593750
3948,all_live_theater/concerts/dance-attended_last_...,Female,45-54,2017,south_west,17,0.607143
3949,all_live_theater/concerts/dance-attended_last_...,Female,55+,2017,south_west,14,0.583333
3950,social_media_[social_media_user],Male,18-24,2017,south_west,34,0.944444
3951,social_media_[social_media_user],Male,25-34,2017,south_west,59,0.951613
3952,social_media_[social_media_user],Male,35-44,2017,south_west,49,0.960784
3953,social_media_[social_media_user],Male,45-54,2017,south_west,25,1.041667
3954,social_media_[social_media_user],Male,55+,2017,south_west,31,0.968750
3955,social_media_[social_media_user],Female,18-24,2017,south_west,23,1.000000
3956,social_media_[social_media_user],Female,25-34,2017,south_west,52,1.130435
3957,social_media_[social_media_user],Female,35-44,2017,south_west,35,1.093750
3958,social_media_[social_media_user],Female,45-54,2017,south_west,32,1.142857
3959,social_media_[social_media_user],Female,55+,2017,south_west,33,1.375000

In [26]:
# export to clean data
prob_df_all.to_csv('../clean_data/all_region_prob_2013_2017.csv', index = False)